.box{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 100px 70px 500px 200px;
}

.header{
grid-column-start: 1;
grid-column-end:5;
grid-row-start: 1;
grid-row-end: 2;
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: black;
color: white;
border: 1px solid black;
}

.subheader{
grid-column-start: 1;
grid-column-end:5;
grid-row-start: 2;
grid-row-end: 3;
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: #232f3e;
color: white;
border: 1px solid white;
}

.box1{
border: 1px dotted red;
background-color: aquamarine;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
/* grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2; */
gap: 10px;
}
.box11{
width: 150px;
height: 150px;
border: 1px solid red;
background-color: chartreuse;
margin-top: 20px;
margin-left: 10px;


}

.box12{
    width: 150px;
height: 150px;
border: 1px solid red;
background-color:bisque;
margin-top: 20px;
}
.box13{
    width: 150px;
height: 150px;
border: 1px solid red;
background-color:cornsilk;
margin-left: 10px;
}

.box14{
    width: 150px;
height: 150px;
border: 1px solid red;
background-color:darkgrey
}
.box2{
border: 1px dotted red;
background-color:beige;
}

.box3{
border: 1px dotted red;
background-color:burlywood;
}
.box4{
border: 1px dotted red;
background-color: chocolate;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

.box41{
border: 1px dotted red;
background-color:white;
height: 150px;
width: 350px;

}

.box42{
border: 1px dotted red;
background-color:white;
height: 300px;
width: 350px;
}

.footer{
    grid-column-start: 1;
grid-column-end:5;
grid-row-start: 4;
grid-row-end: 5;
background-color: dimgray;
color: white;
border: 1px solid red;
}